:root{
    --blanco: #fff;
    --negro: #1111;
    --gris: #343434;

    --fuentePrincipal: 'Roboto', sans-serif;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *:after { 
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
    line-height: 1.8;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    margin: 1rem 0 4rem 0;
}

h1{  
    font-size: 4.8rem;
}
h2{
    font-size: 5.8rem;
}
h3{
    font-size: 5rem;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.btn{
    color: var(--gris);
    background-color: var(--blanco);
    border: 1px solid var(--gris);
    padding: 1.5rem 2rem;   
}

.btn:hover{
    color: var(--blanco);
    background-color: var(--gris);
}

/**Text center**/
.text-center{
    text-align: center;
}
.mt-5{
    margin-top: 5rem;
}

/* Header */

.header{
    min-height: 60rem;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 5rem 0;
}
@media (min-width: 900) {
    .header{
        padding: 2rem 0;
    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.barra{
    display: flex;
    justify-content: space-between;

}